<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet"  href="product.css" type="text/css">
  <title>Inventory Management System</title>
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon" href="img\warehouse-management-system.png">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
</head>
<body>
<!-- src/app/shared/confirm-dialog/confirm-dialog.component.html -->
<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  <p>{{ data.message }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">{{ data.cancelText }}</button>
  <button mat-raised-button color="warn" (click)="onConfirm()">
    {{ data.confirmText }}
  </button>
</mat-dialog-actions>
</body>
</html>